.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}